body{
    background-image: url('../images/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#postContainer {
    margin-left: 10%;
    margin-right: 10%;
}
.likesScore {
    margin: 20px;
    font-size: 1.5em;
}
/*.header {
    z-index: 10;
    margin-bottom: 50px;
}*/
.text{
    color:black;
}

ul {
    list-style-type: none;
}

.post{

}
/*.headerButtons {
    color: white;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: -12px;
    margin-bottom: 50px;
    padding: 20px 40px;
    text-decoration: none;
}*/

li {
    display: inline;
}

/*.arrow {
    margin: 0 auto;
}


.scoring-system{
    margin-right: 20px;
    background-color: pink;
}
#all-post{
    margin-top: 50px;
}

.post{
    border: black solid 1px;
    width:200px;
    height:400px;
    margin:20px;
    float: left;
}
.moveLeft{
    margin-left: -6px;
}*/
